:root {
    --color-light: #F5F5F5;
    --color-dark: #1E1E1E;

    --color-light-layout: #ffffff;
    --color-dark-header: #101010;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
}

a {
    text-decoration: none;
}

.mode-dark .active-link {
    color: #d3d3d3;
}

.mode-dark .inactive-link {
    color: #fff;
}

.mode-light .active-link {
    color: #000;
}

.mode-light .inactive-link {
    color: #000;
}

.mode-light {
    background-color: var(--color-light);
    color: var(--color-dark);
    transition: background-color 0.3s, color 0.3s;
}

.mode-dark {
    background-color: var(--color-dark);
    color: var(--color-light);
    transition: background-color 0.3s, color 0.3s;
}